td, th {
	border: 1px solid;
  color: #f0f1f5;
  text-align: center;
  }
th {
    font-family: "Walter Turncoat", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em; 
  }
h1 {
  text-align: center;
  font-family: "Sour Gummy", sans-serif;
  font-size: 3em;
  color: #f0f1f5;
  }
body, html {
  height: 100%;
  }
body {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  }
img {
  width:100px;
  height:100px;
  }
.row-header {
  font-family: "Walter Turncoat", cursive;
  font-size: 1.2em;
  }
.superscript {
  position: relative;
  bottom: 10px;
  font-size: .6em;
  }
#content-wrapper {
  height: 70%;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  }
#planets {
  width: 50%;
  height: 80%;
  margin: auto;
  }
  